*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  animation: enableScroll 0s forwards;
  animation-delay: 4s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  color: inherit;
  text-underline-offset: 4px;
  transition: transform .2s ease-in-out;
}

a:hover {
  text-decoration: none;
  transform: scale(1.05);  
}

img {
  width: 100%;
}

button {
  font: inherit;
}


.no-space {
  letter-spacing: normal;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}